.features {
    margin: 15rem 0;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 6rem;

    .feature {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: min-content 1fr;
        grid-gap: 1.5rem 2.5rem;

        grid-template-areas:
        "icon head"
        ". text";

        .feature__icon {
            grid-area: icon;

            width: 5rem;
            height: 5rem;
            fill: $color-primary;
        }

        .feature__head {
            grid-area: head;
            align-self: center;

            font-size: 2rem;
        }

        .feature__text {
            grid-area: text;

            font-size: 1.7rem;
        }
    }
}
