.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;

    @include responsive(s) {
        grid-row: 2/3;
        grid-column: full-start / full-end;
    }

    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url('../img/hero.jpeg');
    background-size: cover;
    background-position: center;
    padding: 4rem 5rem;

    display: grid;
    grid-template-rows: 1fr min-content min-content min-content 1fr min-content min-content;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;


    .header__logo {
        justify-self: center;
        height: 3rem;
    }

    .header__1 {
        font-size: 1.6rem;
        color: $color-primary;
    }

    .header__2 {
        font-size: 4.5rem;
        color: $color-grey-light-1;
        line-height: 1;

        @include responsive(s) {
            font-size: 2rem;
        }
    }

    .btn {
        background-color: $color-primary;
        color: white;
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
        justify-self: start;

        @include responsive(s) {
            padding: .5rem 1rem;
        }
    }

    .header__seenon-text {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        color: white;
        filter: brightness(60%);
        text-align: center;

        &::before, &::after {
            background-color: currentColor;
            height: 1px;
            width: 100%;
            content: "";
            display: inline-block;

        }
    }

    .header__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 70%;
            max-width: 70%;
            filter: brightness(60%);
        }
    }
}

