.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 6rem;
}


.home {
    background-color: $color-grey-light-1;
    box-shadow: 0 1rem 6rem rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;


    .home__img {
        width: 100%;
        grid-area: 1/1/ 2/-1;
    }

    .home__like {
        grid-area: 1/2/ 2/-1;
        justify-self: end;
        margin-right: 1rem;
        margin-top: 1rem;

        fill: red;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
    }

    .home__name {
        grid-area: 1/1 / 2/-1;
        text-align: center;
        background-color: $color-secondary;
        color: white;
        padding: 1rem;
        width: 80%;
        justify-self: center;
        align-self: end;
        transform: translateY(50%);
    }

    .home__location,
    .home__rooms {
        padding-top: 2rem;
    }

    .home__location,
    .home__rooms,
    .home__areas,
    .home__price {
        display: flex;
        gap: 2rem;
        align-items: center;

        svg {
            fill: $color-primary;
            width: 2rem;
            height: 2rem;
            margin-left: 2rem;
        }

        p {
        }
    }

    .home__btn {
        grid-column: 1/-1;
        background-color: $color-primary;
        color: white;
        border: none;
        padding: 2rem;
        font-size: 2rem;
        transition: all .2s;

        &:hover {
            animation: heart-beat .8s linear infinite;
        }
    }
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    20%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
