.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    @include responsive(s) {
    padding: 2rem 0;
        grid-row: 3/4;
        grid-column: full-start / full-end;
    }
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .head {
        color: $color-primary;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .realtor__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-gap: 2rem;

        align-items: center;

        .realtors__img {
            width: 5rem;
            height: 5rem;
            clip-path: circle();
        }

        .realtor__details {
            .realtor__details-header {
                color: white;
            }

            .realtor__details-sold {
                color: $color-grey-light-2;
            }
        }

    }
}
