.sidebar {
    background-color: $color-primary;
    grid-row: 1/-1;
    grid-column: sidebar-start / sidebar-end;

    @include responsive(s) {
        grid-row: 1/2;
        grid-column: full-start / full-end;
    }

    .nav__btn {
        border: none;
        width: 4rem;
        height: 2px;
        background-color: white;
        display: block;
        margin: 0 auto;
        position: sticky;
        top: 3rem;

        &::before, &::after {
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: white;
        }

        &::before {
            transform: translateY(-1rem);
        }

        &::after {
            transform: translateY(calc(1rem - 2px));
        }

    }

}
