@charset "UTF-8";
:root {
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --grey-light-1: #eee;
  --grey-light-2: #ddd;
  --grey-light-3: #ccc;
  --grey-light-4: #bbb;
  --grey-dark-1: #252525;
  --grey-dark-2: #505050;
  --grey-dark-3: #757575;
  --box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15); }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-width: 72rem;
  color: var(--grey-dark-2);
  font-family: Calibri, sans-serif; }

body {
  background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 90%;
  margin: 5rem auto;
  background-color: white;
  box-shadow: var(--box-shadow); }
  @media only screen and (max-width: 75em) {
    .container {
      width: 100%;
      margin: 0; } }
  .container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem; }
  .container .content {
    display: flex; }
    .container .content .sidebar {
      flex: 0 0 18%;
      background-color: var(--grey-dark-1);
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media only screen and (max-width: 50em) {
        .container .content .sidebar {
          flex: 0 0 7rem; } }
    .container .content .hotel-view {
      flex: 1; }

.logo {
  height: 3rem;
  margin-left: 3rem; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%;
  margin-left: -20%; }
  .search .search__input {
    background-color: var(--grey-light-1);
    width: 90%;
    border-radius: 10rem;
    padding: .5rem 1rem;
    transition: width .2s;
    font-size: 1.5rem;
    border: 1px solid var(--primary); }
    .search .search__input::-webkit-input-placeholder {
      color: var(--grey-dark-3); }
    .search .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--grey-light-1); }
      .search .search__input:focus + .search__button {
        background-color: var(--grey-light-1); }
  .search .search__button {
    height: 2rem;
    width: 2rem;
    border: none;
    margin-left: -3rem;
    background-color: var(--grey-light-1); }
  .search .search_icon {
    height: 100%;
    width: 100%;
    fill: var(--primary); }
    .search .search_icon:hover {
      cursor: pointer;
      fill: var(--primary-dark); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > *:hover {
    background-color: var(--grey-light-4); }
  .user-nav .user-nav__icon-box {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: relative; }
    .user-nav .user-nav__icon-box .user-nav__icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--grey-dark-2); }
    .user-nav .user-nav__icon-box .user-nav__notification {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .8rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      color: white;
      background-color: var(--primary);
      position: absolute;
      top: 30%;
      left: 60%; }
  .user-nav .user-nav__user {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
    cursor: pointer; }
    .user-nav .user-nav__user .user-nav__user-img {
      width: 3rem;
      margin-right: .5rem;
      border-radius: 50%; }

.side-nav {
  list-style: none;
  margin-top: 3rem; }
  .side-nav .side-nav__current_item {
    background-color: var(--primary); }
  .side-nav .side-nav__item {
    padding: 1.5rem 3rem;
    position: relative; }
    @media only screen and (max-width: 50em) {
      .side-nav .side-nav__item {
        padding: 1.5rem 1rem; } }
    .side-nav .side-nav__item:not(:last-child) {
      margin-bottom: 1rem; }
    .side-nav .side-nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--primary);
      transition: transform .3s, width .4s ease-out .3s;
      transform: scaleY(0); }
    .side-nav .side-nav__item .side-nav__link {
      display: flex;
      align-items: center;
      color: var(--grey-light-4);
      text-decoration: none;
      position: relative;
      z-index: 10; }
      @media only screen and (max-width: 50em) {
        .side-nav .side-nav__item .side-nav__link {
          flex-direction: column;
          align-items: center; } }
      .side-nav .side-nav__item .side-nav__link .side-nav__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        fill: currentColor; }
        @media only screen and (max-width: 50em) {
          .side-nav .side-nav__item .side-nav__link .side-nav__icon {
            margin-bottom: .2rem;
            margin-right: 0; } }

.legal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--grey-light-4); }
  @media only screen and (max-width: 50em) {
    .legal {
      display: none; } }

.hotel-view .gallery {
  display: flex;
  border-bottom: 1px solid var(--grey-light-2); }
  .hotel-view .gallery .gallery__item .gallery__photo {
    width: 100%;
    height: 100%; }

.hotel-view .overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-2); }
  .hotel-view .overview .overview__heading {
    padding: 1rem 3rem;
    font-weight: 100; }
  .hotel-view .overview .overview__star {
    display: flex;
    margin-right: auto; }
  .hotel-view .overview .overview__star-icon,
  .hotel-view .overview .overview__location-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--primary); }
  .hotel-view .overview .overview__location {
    display: flex;
    align-items: center;
    color: var(--primary);
    padding: 1rem 1rem;
    border: 1px solid currentColor;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 2rem; }
    .hotel-view .overview .overview__location:hover {
      color: var(--primary-dark);
      animation: pulsate 1s infinite; }
  .hotel-view .overview .overview__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: white;
    background-color: var(--primary);
    padding: 1rem 2.5rem; }
    .hotel-view .overview .overview__rating .overview__rating-average {
      font-weight: lighter;
      font-size: 3rem; }

.hotel-view .detail {
  font-size: 1.6rem;
  background-color: var(--grey-light-1);
  display: flex;
  flex-wrap: wrap;
  padding: 3rem; }
  .hotel-view .detail .description {
    flex: 0 0 60%;
    margin-right: 3rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 2rem; }
    @media only screen and (max-width: 75em) {
      .hotel-view .detail .description {
        flex: 100%;
        margin-right: 0;
        margin-bottom: 3rem; } }
    .hotel-view .detail .description .paragragh {
      margin-bottom: 2rem; }
    .hotel-view .detail .description .list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 3rem;
      margin: 3rem 0;
      border-bottom: 1px solid var(--grey-light-2);
      border-top: 1px solid var(--grey-light-2); }
      .hotel-view .detail .description .list .list__item {
        flex: 0 0 50%;
        margin-bottom: .7rem; }
        .hotel-view .detail .description .list .list__item::before {
          content: "";
          display: inline-block;
          height: 1rem;
          width: 1rem;
          margin-right: 1rem;
          background-color: var(--primary);
          mask-image: url("../img/chevron-thin-right.svg");
          mask-size: cover; }
    .hotel-view .detail .description .recommand {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .hotel-view .detail .description .recommand .recpmmand__friends {
        display: flex; }
        .hotel-view .detail .description .recommand .recpmmand__friends .recommand__photo {
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: 50%;
          outline: 3px solid white; }
          .hotel-view .detail .description .recommand .recpmmand__friends .recommand__photo:not(:last-child) {
            margin-right: -1rem; }
  .hotel-view .detail .user-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; }
    .hotel-view .detail .user-reviews .review {
      background-color: white;
      box-shadow: var(--box-shadow);
      padding: 3rem;
      margin-bottom: 3rem;
      position: relative;
      overflow: hidden; }
      .hotel-view .detail .user-reviews .review::before {
        content: "\201c";
        position: absolute;
        top: -1.5rem;
        left: -11.2rem;
        font-family: 黑体, sans-serif;
        font-size: 20rem;
        color: var(--grey-light-1);
        line-height: 1; }
      .hotel-view .detail .user-reviews .review .review__text {
        margin-bottom: 2rem;
        position: relative;
        z-index: 10; }
      .hotel-view .detail .user-reviews .review .review__user {
        display: flex;
        align-items: center; }
        .hotel-view .detail .user-reviews .review .review__user .review__photo {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          margin-right: 1.5rem; }
        .hotel-view .detail .user-reviews .review .review__user .review__user-box {
          margin-right: auto; }
          .hotel-view .detail .user-reviews .review .review__user .review__user-box .review__user-name {
            font-weight: bolder; }
          .hotel-view .detail .user-reviews .review .review__user .review__user-box .review__user-date {
            font-weight: lighter; }
        .hotel-view .detail .user-reviews .review .review__user .review__rating {
          color: var(--primary);
          font-size: 3rem; }
    .hotel-view .detail .user-reviews .show-all {
      color: var(--primary);
      border-bottom: 1px solid currentColor;
      cursor: pointer; }
      .hotel-view .detail .user-reviews .show-all .show-all-icon {
        transition: .2s; }
      .hotel-view .detail .user-reviews .show-all:hover .show-all-icon {
        transform: scale(1.1);
        margin-left: .5rem; }

.hotel-view .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0; }
  .hotel-view .cta .cta__text {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 2rem; }
  .hotel-view .cta .cta__btn {
    border: none;
    border-radius: 100px;
    width: 25rem;
    height: 6rem;
    padding: 1.5rem 3rem;
    color: white;
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    position: relative; }
    .hotel-view .cta .cta__btn:hover .unvisable {
      transform: translate(-50%, -50%);
      opacity: 1; }
    .hotel-view .cta .cta__btn:hover .visiable {
      transform: translate(-50%, 250%);
      opacity: 0; }
    .hotel-view .cta .cta__btn .unvisable {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -350%);
      transition: .2s;
      opacity: 0; }
    .hotel-view .cta .cta__btn .visiable {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s;
      opacity: 1; }

@keyframes pulsate {
  from {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  to {
    transform: scale(1);
    box-shadow: none; } }
