*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Comic Sans MS", sans-serif; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw min-content min-content min-content;
  grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 5rem 80vh min-content min-content 40vw 40vw min-content min-content min-content;
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

.sidebar {
  background-color: #c69963;
  grid-row: 1/-1;
  grid-column: sidebar-start / sidebar-end; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      grid-row: 1/2;
      grid-column: full-start / full-end; } }
  .sidebar .nav__btn {
    border: none;
    width: 4rem;
    height: 2px;
    background-color: white;
    display: block;
    margin: 0 auto;
    position: sticky;
    top: 3rem; }
    .sidebar .nav__btn::before, .sidebar .nav__btn::after {
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: white; }
    .sidebar .nav__btn::before {
      transform: translateY(-1rem); }
    .sidebar .nav__btn::after {
      transform: translateY(calc(1rem - 2px)); }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  padding: 4rem 5rem;
  display: grid;
  grid-template-rows: 1fr min-content min-content min-content 1fr min-content min-content;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-row: 2/3;
      grid-column: full-start / full-end; } }
  .header .header__logo {
    justify-self: center;
    height: 3rem; }
  .header .header__1 {
    font-size: 1.6rem;
    color: #c69963; }
  .header .header__2 {
    font-size: 4.5rem;
    color: #f9f7f6;
    line-height: 1; }
    @media only screen and (max-width: 50em) {
      .header .header__2 {
        font-size: 2rem; } }
  .header .btn {
    background-color: #c69963;
    color: white;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    justify-self: start; }
    @media only screen and (max-width: 50em) {
      .header .btn {
        padding: .5rem 1rem; } }
  .header .header__seenon-text {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    color: white;
    filter: brightness(60%);
    text-align: center; }
    .header .header__seenon-text::before, .header .header__seenon-text::after {
      background-color: currentColor;
      height: 1px;
      width: 100%;
      content: "";
      display: inline-block; }
  .header .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center; }
    .header .header__seenon-logos img {
      max-height: 70%;
      max-width: 70%;
      filter: brightness(60%); }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .realtors {
      padding: 2rem 0;
      grid-row: 3/4;
      grid-column: full-start / full-end; } }
  .realtors .head {
    color: #c69963;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .realtors .realtor__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 2rem;
    align-items: center; }
    .realtors .realtor__list .realtors__img {
      width: 5rem;
      height: 5rem;
      clip-path: circle(); }
    .realtors .realtor__list .realtor__details .realtor__details-header {
      color: white; }
    .realtors .realtor__list .realtor__details .realtor__details-sold {
      color: #aaa; }

.features {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem; }
  .features .feature {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-gap: 1.5rem 2.5rem;
    grid-template-areas: "icon head" ". text"; }
    .features .feature .feature__icon {
      grid-area: icon;
      width: 5rem;
      height: 5rem;
      fill: #c69963; }
    .features .feature .feature__head {
      grid-area: head;
      align-self: center;
      font-size: 2rem; }
    .features .feature .feature__text {
      grid-area: text;
      font-size: 1.7rem; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../img/back.jpg");
  background-size: cover; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-row: 5/6;
      grid-column: full-start / full-end; } }
  .story__pictures .story__img-1 {
    grid-area: 2/2 / 6/ 6;
    object-fit: cover;
    align-self: stretch;
    justify-self: stretch; }
  .story__pictures .story__img-2 {
    grid-area: 4/4 / 6/7;
    width: 110%;
    z-index: 10; }
    @media only screen and (max-width: 50em) {
      .story__pictures .story__img-2 {
        grid-area: 4/5 / 7/8;
        width: 60%; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 6rem 10%; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-row: 6/7;
      grid-column: full-start / full-end; } }
  @media only screen and (max-width: 50em) {
    .story__content {
      padding: 2rem 5%; } }
  .story__content .story__head-1 {
    color: #c69963;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 50em) {
      .story__content .story__head-1 {
        font-size: 1rem;
        margin-bottom: .5rem; } }
  .story__content .story__head-2 {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 50em) {
      .story__content .story__head-2 {
        font-size: 1.5rem;
        margin-bottom: 1rem; } }
  .story__content .story__text {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 50em) {
      .story__content .story__text {
        font-size: 1rem;
        margin-bottom: 1rem; } }
  .story__content .btn {
    background-color: #c69963;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.5rem; }
    @media only screen and (max-width: 50em) {
      .story__content .btn {
        font-size: 1rem;
        margin-bottom: .5rem;
        padding: .5rem; } }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem; }

.home {
  background-color: #f9f7f6;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }
  .home .home__img {
    width: 100%;
    grid-area: 1/1/ 2/-1; }
  .home .home__like {
    grid-area: 1/2/ 2/-1;
    justify-self: end;
    margin-right: 1rem;
    margin-top: 1rem;
    fill: red;
    width: 2rem;
    height: 2rem;
    font-size: 2rem; }
  .home .home__name {
    grid-area: 1/1 / 2/-1;
    text-align: center;
    background-color: #101d2c;
    color: white;
    padding: 1rem;
    width: 80%;
    justify-self: center;
    align-self: end;
    transform: translateY(50%); }
  .home .home__location,
  .home .home__rooms {
    padding-top: 2rem; }
  .home .home__location,
  .home .home__rooms,
  .home .home__areas,
  .home .home__price {
    display: flex;
    gap: 2rem;
    align-items: center; }
    .home .home__location svg,
    .home .home__rooms svg,
    .home .home__areas svg,
    .home .home__price svg {
      fill: #c69963;
      width: 2rem;
      height: 2rem;
      margin-left: 2rem; }
  .home .home__btn {
    grid-column: 1/-1;
    background-color: #c69963;
    color: white;
    border: none;
    padding: 2rem;
    font-size: 2rem;
    transition: all .2s; }
    .home .home__btn:hover {
      animation: heart-beat .8s linear infinite; }

@keyframes heart-beat {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(7, 5vw);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
  margin: 2rem; }
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery .gallery-1 {
    grid-area: 1/1/3/3; }
  .gallery .gallery-2 {
    grid-area: 1/3/4/6; }
  .gallery .gallery-3 {
    grid-area: 1/6/3/7; }
  .gallery .gallery-4 {
    grid-area: 1/7/3/9; }
  .gallery .gallery-5 {
    grid-area: 3/1/6/3; }
  .gallery .gallery-6 {
    grid-area: 4/3/6/5; }
  .gallery .gallery-7 {
    grid-area: 4/5/5/6; }
  .gallery .gallery-8 {
    grid-area: 3/6/5/8; }
  .gallery .gallery-9 {
    grid-area: 3/8/6/9; }
  .gallery .gallery-10 {
    grid-area: 6/1/8/2; }
  .gallery .gallery-11 {
    grid-area: 6/2/8/4; }
  .gallery .gallery-12 {
    grid-area: 6/4/8/5; }
  .gallery .gallery-13 {
    grid-area: 5/5/8/8; }
  .gallery .gallery-14 {
    grid-area: 6/8/8/9; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }
  .footer .nav {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem; }
    .footer .nav .nav__item {
      text-align: center;
      padding: 2rem;
      transition: all .2s; }
      .footer .nav .nav__item:hover {
        background-color: rgba(255, 255, 255, 0.05); }
      .footer .nav .nav__item .nav__link {
        font-size: 2rem;
        color: white;
        text-decoration: none; }
  .footer .copyright {
    width: 50%;
    text-align: center;
    color: #aaa;
    margin: 2rem auto; }
