@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


// 屏幕分界点
$width-small: 600px;
$width-medium: 1200px;
$width-large: 1800px;

@mixin responsive($width) {
    @if $width == s { // <= 600
        @media only screen and (max-width: $width-small) {
            @content;
        }
    }
    @if $width == m { // 601 ~ 1200
        @media only screen and (min-width: $width-small + 1) and (max-width: $width-medium) {
            @content;
        }
    }
    @if $width == l { // 1201 ~ 1800
        @media only screen and (min-width: $width-medium + 1) and (max-width: $width-large) {
            @content;
        }
    }
    @if $width == n { // > 1801
        @media only screen and (min-width: $width-large + 1) {
            @content;
        }
    }
}
