// color
$color-primary: rgb(65, 152, 52);
$color-primary-light: rgb(99, 208, 83);
$color-primary-dark: rgb(47, 126, 19);

$color-grey-light-1: #17171717;

$color-white: white;
$color-black: black;

$color-orangered: #ff5000;
$color-orange: #ffa000;

$color-blue: #0050ff;
$color-blue-light: #00a0ff;

// grid
$grid-width: 114rem;
$spaceX: 3rem;
$spaceY: 1rem;
