.card {

    perspective: 150rem; // 内部元素旋转时的视角高度
    width: 100%;
    height: 50rem;

    &:hover .card-inner { // 当元素hover时, 选中inner子元素进行旋转, 而不是直接让它本身旋转, 否则画面会不稳定
        @media not screen and (hover:none) { // 只有电脑上可以旋转
            transform: rotateY(-180deg);
        }
    }

    .card-inner {
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d; // 旋转时, 内部子元素保持3d的空间关系
        transition: transform .5s ease-in-out;

        .front, .back {
            border-radius: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .front {
            background-color: white;
            z-index: 2;
        }

        .back {
            @media screen and (hover: none) {
                top: 50%;
                transform: rotateY(0deg);
            }

            transform: rotateY(180deg);

            .card_cta {
                @media screen and (hover: none) {
                    top: 75%;
                }
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                .price-box {

                    .only {
                        font-size: 2rem;
                        color: white;
                    }

                    .value {
                        font-size: 5rem;
                        font-weight: 100;
                        color: white;
                    }

                }

            }
        }
    }

    .card-inner {
        .front {
            .card_picture {
                height: 45%;
                background-size: cover;
                background-blend-mode: screen;
                clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            }

            .card_heading {
                font-size: 2.5rem;
                font-weight: 300;
                text-transform: uppercase;
                text-align: right;
                color: #fff;
                position: absolute;
                top: 12rem;
                right: 2rem;
                width: 75%;

                span {
                    padding: .5rem 1.5rem;
                    -webkit-box-decoration-break: clone;
                }
            }

            .card_details {
                ul {
                    margin: 0 auto;
                    list-style: none;
                    width: 80%;
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 5rem;

                    li {
                        padding: 1rem;

                        &:not(:last-child) {
                            border-bottom: 1px solid black;
                        }
                    }
                }
            }


            .span1 {
                background-image: linear-gradient(to right bottom, rgba($color-orange, .85), rgba($color-orangered, .85));
            }

            .pic1 {
                background-image: linear-gradient(to right bottom, $color-orange, $color-orangered),
                url("../img/nat-5.jpg");
            }

            .span2 {
                background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
            }

            .pic2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
                url("../img/nat-5.jpg");
            }

            .span3 {
                background-image: linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-blue, .85));
            }

            .pic3 {
                background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue),
                url("../img/nat-5.jpg");
            }
        }

        .back1 {
            background-image: linear-gradient(to right bottom, $color-orange, $color-orangered);
        }

        .back2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }

        .back3 {
            background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue);
        }

    }
}
