.composition {
    position: relative;

    .photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        border-radius: 1rem;
        position: absolute;
        z-index: 0;
        transition: all 0.1s;
        outline-offset: 1rem; // 外边线偏移, 默认0, 紧贴在元素周围

        &1 {
            left: 0;
            top: -2rem;
        }

        &2 {
            right: 0;
            top: 2rem;
        }

        &3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.05) translateY(-.3rem);
            box-shadow: 0 3rem 6rem rgba($color-black, .4);
            z-index: 1;
            outline: 1.5rem solid $color-primary; // 类似边框, 但始终显示在元素外部, 不会影响元素本身大小
        }
    }

    &:hover .photo:not(:hover) {  // 当 .composition:hover 时, 选中 .composition.photo:not(:hover)
        transform: scale(.95);
    }
}
