.form {
    .form-group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .form-input {
            font-size: 1.5rem;
            padding: 1.5rem 2rem;
            border-radius: .2rem;
            border: none;
            border-bottom: 3px solid transparent;
            width: 80%;
            display: block;
            transition: .2s;

            &::-webkit-input-placeholder {
                color: gray;
            }
        }

        .form-input:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-orangered;
            }
        }

        .form-input:placeholder-shown + .form-label { // 当输入框提示显示时, 选择相邻的 form-label
            opacity: 0;
            transform: translateY(-4rem);
        }


        .form-label {
            font-size: 1.2rem;
            font-weight: bold;
            margin-left: 2rem;
            margin-top: .5rem;
            display: block;
            transition: all .2s;
        }

        .radio-group {
            width: 45%;
            display: inline-block;

            .form-radio {  // 隐藏默认的 单选指示圆圈
                display: none;
            }

            .form-radio:checked + .radio-label .custorm-radio-btn::after {  // 选中时将自定义圆圈中的点
                opacity: 1;
            }

            .radio-label {
                cursor: pointer;
                position: relative;
                padding-left: 2.5rem;
                font-size: 1.6rem;

                .custorm-radio-btn {  // 自定义圆圈的边框
                    position: absolute;
                    top: -.4rem;
                    left: 0;
                    display: inline-block;
                    height: 2rem;
                    width: 2rem;
                    border: 3px solid $color-primary;
                    border-radius: 50%;

                    &::after {  // 自定义圆圈内部的 点
                        content: "";
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: $color-primary;
                        opacity: 0;
                        transition: .2s;
                    }

                }
            }
        }

    }

}

